<h1>User Show Page</h1>

<table>
  <tr><td>Username</td><td><%= @user.username %></td></tr>
  <tr><td>Email</td><td><%= @user.email %></td></tr>
</table>

<%= link_to "Edit", edit_user_path(@user) %>
<%= link_to "Back", users_path %>
